{% extends "layout.html" %}
{% block content %}
<div class="product-category">
  <h3>Remeras</h3>
  <div class="row">
    {% for product in products if product.category == 'Remeras' %}
    <div class="col-md-4 mb-4">
      <div class="card product-card" onclick="window.location='{{ url_for('product', product_id=product.id) }}'">
        <img src="{{ product.image_url }}" class="card-img-top" alt="{{ product.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">${{ product.price }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="product-category">
  <h3>Chombas</h3>
  <div class="row">
    {% for product in products if product.category == 'Chombas' %}
    <div class="col-md-4 mb-4">
      <div class="card product-card" onclick="window.location='{{ url_for('product', product_id=product.id) }}'">
        <img src="{{ product.image_url }}" class="card-img-top" alt="{{ product.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">${{ product.price }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="product-category">
  <h3>Tote Bag</h3>
  <div class="row">
    {% for product in products if product.category == 'Tote Bag' %}
    <div class="col-md-4 mb-4">
      <div class="card product-card" onclick="window.location='{{ url_for('product', product_id=product.id) }}'">
        <img src="{{ product.image_url }}" class="card-img-top" alt="{{ product.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">${{ product.price }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
